{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
 
    <link href="{{ asset('css/entries.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}AppBundle:Blog:entries{% endblock %}

{% block body %}

<div class="blog-section paddingTB60 ">
<div class="container">
		<div class="row">
				<div class="site-heading text-center">
								<h3>Our Portfolio</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua. Ut enim ad minim </p>
								<div class="border"></div>
							</div>
			</div>
	<div class="row text-center">	
		{% for blogPost in blogPosts %}
		<div class="col-sm-6 col-md-4">
			<div class="blog-box">
				<div class="blog-box-image">
					<img src="https://images.pexels.com/photos/6384/woman-hand-desk-office.jpg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="">
				</div>
				<div class="blog-box-content">
					<h4><a href="#">{{ blogPost.title }}</a></h4>
					<p>{{ blogPost.description }}</p>
					<a href="{{ path('entry', {'id': blogPost.id}) }}" class="btn btn-default site-btn">Read More</a>
				</div>
			</div>
		</div>
		{% else %}
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				You have no blog articles. Please log in and create an article.
			</div>
		{% endfor %}          
    </div>
</div>
</div>

{% endblock %}
